<fcd>
	<!-- RSU-related configuration -->
	<txInterval>5</txInterval> <!-- in seconds ! -->
	<nrOfRequests>100</nrOfRequests>
	<maxDistance>300</maxDistance>  <!-- in meters ! -->
	<maxHops>3</maxHops>
	<maxRequestTimer>100</maxRequestTimer> <!-- in milliseconds ! -->
	<maxReplyTimer>1000</maxReplyTimer> <!-- in milliseconds ! -->
	
	<!-- Basic Container in CAM -->
	<isRSU>0</isRSU> <!-- 0 for Vehicle, 1 for RSU -->
	
	<!-- Timeout for interrogating the LDM -->
	<timeout>100</timeout> <!-- in ms -->
</fcd>
